.env
.atom/
.bash_history
.conda/
.git-for-windows-updater
.gitconfig
*.idea/
.idlerc/
.pylint.d/
/.python_history
.vscode/
.wdm/
/3D Objects/
/AppData/
/Cmder.exe
/Contacts/
/Desktop/
/Documents/
/Downloads/
/Favorites/
/Git-2.27.0-32-bit.exe
/Google Drive/
/LICENSE
/Links/
/Music/
/NTUSER.DAT
/NTUSER.DAT{133c21f2-b9d4-11ea-8ca5-87e9e3084812}.TM.blf
/NTUSER.DAT{133c21f2-b9d4-11ea-8ca5-87e9e3084812}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{133c21f2-b9d4-11ea-8ca5-87e9e3084812}.TMContainer00000000000000000002.regtrans-ms
/OneDrive/
/Pictures/
../
/PycharmProjects/
/Searches/
/Version 1.3.14.982
/Videos/
/_netrc
/bin/
/config/
/hello.txt
/icons/
/mintty.exe.stackdump
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/ntuser.ini
/vendor/
/py




