{% extends 'blog/index.html' %}
{% block title %}Request Reset Password{% endblock %}
{% load crispy_forms_tags %}


{% block content %}

<div class="row">
    <div class="card mb-3 border-light text-white bg-dark" style="width: 100%; margin-top: 20px;">
        <div class="card-header"><h4>Request Reset Password</h4></div>
        <div class="card-body">
            <form method="POST" action="">
                {% csrf_token %}
                {{form|crispy}}
                <div class="card-footer">
                    <button type="submit" class="btn btn-outline-success btn-lg btn-block">Request Password Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}